
.card-container {
  opacity: 0;
  transform: translateY(20px);
  animation: fadeUp 0.8s ease-out forwards;
}

/* INDIVIDUAL CARD */
.card-inner {
  margin: 50px 0 0 0;
  background-color: var(--bg-surface);
  color: var(--text-primary);
  border-radius: 12px;
  overflow: hidden;
  box-shadow: 0 6px 15px rgba(0,0,0,0.2);
  max-width: none;
  width: 400px;
  display: flex;
  flex-direction: column;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  cursor: pointer;
  position: relative;
  overflow: hidden;

  border-style: solid; /* Required for the border to be visible */
  border-width: 1px;
  border-color: black; /* Sets all four borders to red */

  transition: transform 0.3s ease;
}

/* BLACK FADING OVERLAY */
.card-image-fade {
  position: absolute;
  inset: 0;
  background: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0) 0%,
    rgba(0, 0, 0, 0.326) 100%
  );
  pointer-events: none;
}

/* CARD IMAGE */
.card-image {
  width: 400px;
  height: 300px;
  border-radius: 3%;
  position: relative;
  object-fit: cover;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  transition: transform .45s ease, filter .45s ease;
}

/* CARD TITLE */
.card-title {
  font-family: 'Ubuntu', sans-serif;
  font-size: 25px;
  font-weight: 600;
  color: white;
  text-align: center;
  letter-spacing: -0.3px;   /* tight, premium feel */
  line-height: 1.15;        /* compact without crowding */
  text-shadow: 0 1px 2px rgba(0,0,0,0.2);
  transition: color 0.3s ease, transform 0.3s ease;
  position: absolute;

  top: 70%;
  left: 8%;
}

.card-text {
  font-family: 'Ubuntu', sans-serif;
  font-size: 15px;
  font-weight: 600;
  color: rgba(255, 255, 255, 0.800);
  text-align: center;
  letter-spacing: -0.3px;   /* tight, premium feel */
  line-height: 1.15;        /* compact without crowding */
  text-shadow: 0 1px 2px rgba(0,0,0,0.2);
  transition: color 0.3s ease, transform 0.3s ease;
  position: absolute;

  top: 83%;
  left: 8%;
}

.card-inner:hover .card-image{
  transform: scale(1.20);
  filter: saturate(1.05);
}


.card-container:nth-child(1) { animation-delay: 0.1s; }
.card-container:nth-child(2) { animation-delay: 0.2s; }
.card-container:nth-child(3) { animation-delay: 0.3s; }
.card-container:nth-child(4) { animation-delay: 0.4s; }
.card-container:nth-child(5) { animation-delay: 0.5s; }
.card-container:nth-child(6) { animation-delay: 0.6s; }
.card-container:nth-child(7) { animation-delay: 0.7s; }
.card-container:nth-child(8) { animation-delay: 0.8s; }

@keyframes fadeUp {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
