
.counter-container{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

.count-display{
    margin-top: 50px;
    margin-bottom: 0px;
    font-size: 5em;
}

.counter-button{
    width: 150px;
    height: 50px;
    font-size: 1.5em;
    font-weight: bold;
    margin: 0px 5px;
    background-color: hsl(24, 80%, 50%);
    border: none;
    border-radius: 5px;
    cursor: pointer;
}   

.counter-button:hover{
    background-color: hsl(24, 80%, 35%);
}