/* Wrapper */
.site-header{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
}

.site-header.is-sticky{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}


/* ===== TOPMOST (UNCHANGED LOOK) ===== */
.header-top{
  display: flex;
  width: 100%;
  color: white;
  justify-content: space-between;
  align-items: center;

  position: absolute;
  top: 15px;
  left: 0;

  padding: 0;
  background: transparent;

  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.142); /* shadow under the line */
}


.brand-name{
  margin: 0;
  display: flex;
  align-items: center;
  padding-left: 60px;
}

.brand-name img{
  height: 55px;
  margin-top: -5px;
  width: auto;
  object-fit: contain;
  display: block;
}

.main-nav ul{
  display: flex;
  align-items: center;
  margin-right: 130px;
  list-style: none;
  gap: 30px;
  padding: 0;
  position: relative;
}

.main-nav li a{
  position: relative;
  display: inline-block;
  padding-bottom: 6px;
  text-decoration: none;
}

.main-nav a{
  font-family: "Ubuntu", sans-serif;
  color: white;
  font-size: 16px;
  font-weight: 300;
  letter-spacing: 0.6px;
  text-decoration: none;
}

.main-nav ul li a::after{
  content: "";
  position: absolute;
  left: 50%;
  bottom: 0;
  width: 100%;
  height: 2px;
  background: white;

  transform: translateX(-50%) scaleX(0);
  transform-origin: center;
  transition: transform 0.25s ease-out;
}

.main-nav ul li a:hover::after{
  transform: translateX(-50%) scaleX(1);
}

/* ===== STICKY (ONLY ON SCROLL) ===== */
.header-sticky{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;

  display: flex;
  justify-content: center;
  align-items: center;

  padding: 14px 24px;
  background: #b2815f;
}

.sticky-logo{
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.sticky-logo img{
  height: 42px;
  width: auto;
  object-fit: contain;
  display: block;
}

/* Mobile */
@media (max-width: 768px){
  .brand-name img{
    height: 36px;
  }
  .sticky-logo img{
    height: 34px;
  }
}
