@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@600;700&family=Poppins:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cherry+Swash:wght@400;700&display=swap');

:root {
  line-height: 1.5;
  font-weight: 400;

    /* backgrounds #F5F5F5 #faf3dd */
  --bg-root: black;

  /* text */
  --text-primary: white;
  --text-secondary: #757373;

  /* accent */
  --accent-primary: #F77F00;

  /* borders */
  --border-subtle: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html, body {
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--bg-root);
}

body, p, li {
  font-family: 'Inter', 'Roboto', system-ui, sans-serif;
  font-weight: 400;   /* normal */
  line-height: 1.6;  /* good readability */
  letter-spacing: 0.3px;
  color: var(--text-primary);
}

#root {
  min-height: 100vh;
  background-color: var(--bg-root);
}