@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@600;700&family=Poppins:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cherry+Swash:wght@400;700&display=swap');

:root {
  line-height: 1.5;
  font-weight: 400;

    /* backgrounds #F5F5F5 */
  --bg-root: #faf3dd;

  /* text */
  --text-primary: black;
  --text-secondary: #757373;

  /* accent */
  --accent-primary: #F77F00;

  /* borders */
  --border-subtle: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html, body {
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--bg-root);
}

body, p, li {
  font-family: 'Inter', 'Roboto', system-ui, sans-serif;
  font-weight: 400;   /* normal */
  line-height: 1.6;  /* good readability */
  letter-spacing: 0.3px;
  color: var(--text-primary);
}

#root {
  min-height: 100vh;
  background-color: var(--bg-root);
}

/*

  color-scheme: light dark;
  --main-color: hsla(0, 0%, 0%, 0.87);
  color: var(--main-color);

body {
  padding: 0;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  background-image: url("./assets/MainBG3.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}
*/

/*
button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
*/