@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@600;700&family=Poppins:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cherry+Swash:wght@400;700&display=swap');

:root {
  line-height: 1.5;
  font-weight: 400;

    /* backgrounds #F5F5F5 #faf3dd #372C2E*/
  --bg-root: #ffffff;

  /* text */
  --text-primary: #000000;
  --text-secondary: #2f2e2e;

  /* accent */
  --accent-primary: #F77F00;

  /* borders */
  --border-subtle: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html, body {
  margin: 0;
  padding: 0;
}

body {
  background-image: url("/bg-image.png");
  background-repeat: repeat;
  background-size: 1600px 1500px;
}

#root {
  min-height: 100vh;
  background-color: transparent;
}